body { padding-top: 30px; padding-bottom: 20px; }

@media (min-width: 768px) {
  .container { max-width: 590px; }
}

.header { border-bottom: 1px solid #E5E5E5; }
.radio-w120 { width: 120px; }
.radio-w120.radio-inline { margin-left: 0; }

#formInfo { margin-top: 20px; margin-bottom: 0; }
#formOptions { margin-top: 20px; }